NodeRed_Flow_Blink_TelstraDev_IBM_Demo.json
[{"id":"6eb2e37f.79904c","type":"tab","label":"TelstraDev Sandbox","disabled":false,"info":""},{"id":"ff3baf8b.56cf4","type":"ibmiot out","z":"6eb2e37f.79904c","authentication":"apiKey","apiKey":"1bda0c0a.2149b4","outputType":"cmd","deviceId":"mkr","deviceType":"mkr","eventCommandType":"default","format":"text","data":"data","qos":"2","name":"EventSender","service":"registered","x":590,"y":120,"wires":[]},{"id":"f2e75399.3c842","type":"ibmiot out","z":"6eb2e37f.79904c","authentication":"apiKey","apiKey":"1bda0c0a.2149b4","outputType":"cmd","deviceId":"mkr2","deviceType":"mkr","eventCommandType":"default","format":"text","data":"data","qos":"2","name":"EventSender","service":"registered","x":590,"y":220,"wires":[]},{"id":"6bfecf28.3d284","type":"http in","z":"6eb2e37f.79904c","name":"message in","url":"/sms","method":"post","upload":false,"swaggerDoc":"","x":90,"y":480,"wires":[["4039bd6f.b7fed4"]]},{"id":"2a4cb245.6e4fee","type":"debug","z":"6eb2e37f.79904c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":520,"wires":[]},{"id":"4039bd6f.b7fed4","type":"function","z":"6eb2e37f.79904c","name":"","func":"msg.payload = msg.payload.body.toLowerCase();\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["afa2387f.0ee3e8"]]},{"id":"afa2387f.0ee3e8","type":"switch","z":"6eb2e37f.79904c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":400,"wires":[["ff3baf8b.56cf4","f2e75399.3c842"],["ff3baf8b.56cf4","f2e75399.3c842"],["2a4cb245.6e4fee"]]},{"id":"1bda0c0a.2149b4","type":"ibmiot","z":"","name":"Watson IOT","keepalive":"60","serverName":"43wcdg.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]
